*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:white;
}
.top-bar{
    height: 60px;
    width: 100%;
    background-color: red;
    text-align: center;
}
.top-list{
    margin-top: 20px;
    width: 640px;

}
.vip-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
#name{
    margin-top: 20px;
    color: yellow;
}
.text{
    color: red;
}